name: Fist Maven Pipeline

# eventos que gatillan el workflow ok
on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: write

# trabajos oki
jobs:
  security-scan:
    runs-on: ubuntu-latest
    #container: maven:3.8.5-openjdk-17
    steps:
    - uses: actions/checkout@v5
    - name: Validate POM version (semver x.y.z)
      id: validate_version
      run: |
        # Obtiene la versión del POM
        VERSION="$(mvn -q -Dexpression=project.version -DforceStdout help:evaluate)"

        echo "POM version: ${VERSION}"

        # Regex semver simple: x.y.z (solo números)
        if [[ ! "$VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
          echo "::error title=Invalid version::La versión '${VERSION}' no cumple el formato semver x.y.z"
          exit 1
        fi
        echo "POM_VERSION=$VERSION" >> "$GITHUB_ENV"

    - name: Validate POM version (semver x.y.z)
      uses: aldo2510/customized-actions/.github/actions/validate-pom@v1.0.4
      with:
        pom-path: pom.xml

    - name: Configurar Java 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      run: |
       mvn clean package -DskipTests
       #listar dependncias
       mvn dependency:tree

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::701109631773:role/Github-inspector
        aws-region: us-east-1

    - name: Download Amazon Inspector SBOM Generator
      run: |
        # 1. Descargar la herramienta de escaneo de AWS
        curl -L -s https://amazon-inspector-sbomgen.s3.amazonaws.com/latest/linux/amd64/inspector-sbomgen.zip -o inspector-sbomgen.zip
        unzip inspector-sbomgen.zip
        # Buscar dinámicamente el binario 
        BIN_PATH=$(find . -type f -name inspector-sbomgen) 
        
        # Moverlo a la raíz del workspace 
        mv "$BIN_PATH" ./inspector-sbomgen
        
        chmod +x inspector-sbomgen

    - name: Generate SBOM from JAR
      run: |    
        # 2. Ejecutar el escaneo del repositorio actual
        # Esto genera un archivo 'scan_results.json'
        ./inspector-sbomgen archive --path target/*.jar --scan-sbom --outfile sbom-scan.json -v
        cat sbom-scan.json

    - name: Upload SBOM to Amazon Inspector
      run: |
        #aws inspector2 batch-import-findings --findings file://sbom-scan.json  

        # verificar si hay vulnerabilidades altas o criticas
        # aws inspector2 list-findings > findings.json  

         COUNT=$(jq '[.findings[] | select(.severity=="HIGH" or .severity=="CRITICAL")] | length' sbom-scan.json)
         if [ "$COUNT" -gt 0 ]; then
          echo "❌ Se encontraron $COUNT vulnerabilidades HIGH/CRITICAL. Build break!"
          exit 1
        else
         echo "✅ No se encontraron vulnerabilidades HIGH/CRITICAL."
         fi

        

    - name: Upload Scan Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: sbom  
        path: | 
          sbom-*.json

       
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.6.2
      with:
        name: artifact
        path: target/*.jar

 
